  /* Estilos para las cards */
  .movie-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
  
  .movie-card {
    width: 18%;
    margin: 10px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 15px;
    background-color: #d41515;
    padding: 10px;
    position: relative;
  }
  
  .movie-card img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
  }
  .movie-card h2 {
    color: #2a2828; /* Cambié a un tono más oscuro para mejorar la legibilidad */
    text-align: center;
    margin: 0; /* Elimina el margen para un aspecto más limpio */
    font-size: 1.2rem; /* Tamaño de fuente legible y proporcional */
    font-weight: bold; /* Añade negrita para destacar */
    text-transform: uppercase; /* Convierte el texto a mayúsculas */
    letter-spacing: 1px; /* Agrega un pequeño espaciado entre las letras */
  }
