/* Estilos para la barra de encabezado con el nombre del artista */
.artist-header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.artist-header h1 {
  margin: 0;
}

/* Estilos para las tarjetas de álbumes */
.artist-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.artist-card {
  padding-top: 100px;
  width: 30%;
  margin: 10px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 15px;
  background-color: #fff;
  padding: 10px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.artist-card:hover {
  transform: translateY(-5px);
}

.artist-card img {
  max-width: 80%;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
}

.artist-card h2 {
  color: #000;
  margin-top: 10px;
}

/* Estilos para la barra de encabezado con el nombre del artista */
.artist-header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.artist-name-box {
  background-color: #fff;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
}

.artist-header .artist-name {
  margin: 0;
}


