/* Estilos para la barra de encabezado con el nombre del artista */
.artist-header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.artist-header h1 {
  margin: 0;
}

/* Estilos para las tarjetas de álbumes */
.artist-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.artist-card {
  padding-top: 10px;
  width: 30%;
  margin: 10px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 15px;
  background-color: #fff;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.artist-card:hover {
  transform: translateY(-5px);
}

.artist-card img {
  max-width: 80%;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
}

.artist-cards a {
  display: block; /* Hace que el enlace ocupe todo el ancho del contenedor */
  text-decoration: none; /* Elimina el subrayado del enlace si lo hay */
  color: inherit; /* Usa el color de texto heredado */
}

.artist-card h2 {
  font-family: 'Arial', sans-serif;
  font-size: 18px; /* Tamaño de fuente ajustado para h2 */
  color: #333;
  margin-top: 10px; /* Espacio superior */
  margin-bottom: 8px; /* Espacio inferior */
  text-align: center;
}


/* Estilos para la barra de encabezado con el nombre del artista */
.artist-header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.artist-name-box {
  background-color: #fff;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
}

.artist-header .artist-name {
  margin: 0;
}


